<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Teammate Online</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class="active"><a [routerLink]="['Dashboard']">Dashboard</a></li>
                <li *ngIf="!oidcManagerService.OidcManager.expired">
                    <a [routerLink]="['GameAccountsCollection']">Game accounts</a>
                </li>
                <li *ngIf="!oidcManagerService.OidcManager.expired">
                    <a [routerLink]="['UserProfile']">Profile</a>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right" *ngIf="oidcManagerService.OidcManager">
                <li *ngIf="!oidcManagerService.OidcManager.expired">
                    <a (click)="logout()">Sign out</a>
                </li>
                <li *ngIf="oidcManagerService.OidcManager.expired">
                    <a (click)="loginWithGoogle()">Sign in with Google</a>
                </li>
                <li *ngIf="oidcManagerService.OidcManager.expired">
                    <a (click)="loginWithFacebook()">Sign in with Facebook</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>
