<h2>
    <span *ngIf="gameAccount">
        <span *ngFor="let gamePlatform of gamePlatforms">
            <span *ngIf="gamePlatform.id == gameAccount.gamePlatformId">
                {{gamePlatform.name}} friends
            </span>
        </span>
    </span>
</h2>

<div *ngIf="friendsAccounts != 0 && friends != 0">
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Friends name</th>
                <th>Account user name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of friendsAccounts">
                <td>
                    <div *ngFor="let friend of friends">
                        <div *ngIf="friend.friendUserProfileId == account.userProfileId">
                            <a class="btn btn-default" role="button" (click)="viewFriendDetail(friend.id)">
                                <gravatar [email]="friend.friendUserProfile.emailAddress" [size]="25"></gravatar>
                            </a>
                        </div>
                    </div>
                </td>
                <td>
                    <div *ngFor="let friend of friends">
                        <div *ngIf="friend.friendUserProfileId == account.userProfileId">
                            <a class="btn btn-default" role="button" (click)="viewFriendDetail(friend.id)">
                                {{friend.friendUserProfile.firstName}} {{friend.friendUserProfile.lastName}}
                            </a>
                        </div>
                    </div>
                </td>
                <td>
                    {{account.userName}}
                </td>
            </tr>
        </tbody>
    </table>
</div>