<h2>Friends</h2>

<div *ngIf="friends != 0">
    <div class="row">
        <div class="col-xs-6 col-md-3" *ngFor="let friend of friends" [class.selected]="friend === selectedFriend">
            <div class="thumbnail">
                <div class="caption">
                    <gravatar [email]="friend.friendUserProfile.emailAddress" [size]="25"></gravatar>
                    <strong>{{friend.friendUserProfile.firstName}} {{friend.friendUserProfile.lastName}}</strong>
                    <p>{{friend.friendUserProfile.emailAddress}}</p>
                    <p>
                        <a class="btn btn-default" role="button" (click)="viewFriendDetail(friend.id)">Details</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="friends == 0">
    No friends
</div>

<div *ngIf="friendRequests != 0">
    <h2>Friend requests pending</h2>

    <div class="row">
        <div class="col-xs-6 col-md-3" *ngFor="let friendRequest of friendRequests">
            <div class="thumbnail">
                <div class="caption">
                    <gravatar [email]="friendRequest.friendUserProfile.emailAddress" [size]="25"></gravatar>
                    <strong>{{friendRequest.friendUserProfile.firstName}} {{friendRequest.friendUserProfile.lastName}}</strong>
                    <p>{{friendRequest.friendUserProfile.emailAddress}}</p>
                    <p *ngIf="friendRequests.isIncomingRequest">
                        <a class="btn btn-default" role="button" (click)="acceptFriendRequestSave(friendRequest)">Accept</a>
                        <a class="btn btn-default" role="button" (click)="declineFriendRequestSave(friendRequest)">Decline</a>
                    </p>
                    <p *ngIf="!friendRequests.isIncomingRequest">
                        Waiting for a response... <a class="btn btn-default" role="button" (click)="declineFriendRequestSave(friendRequest)">Cancel</a>
                    </p>
                    </div>
            </div>
        </div>
    </div>
</div>
