<div class="jumbotron" *ngIf="friend">
    <h1>{{friend.friendUserProfile.firstName}} {{friend.friendUserProfile.lastName}}</h1>
    <p></p>
</div>

<h2>Game accounts</h2>

<div class="row">
    <div class="col-xs-6 col-md-3" *ngFor="let gameAccount of friendsGameAccounts" [class.selected]="gameAccount === selectedGameAccount">
        <div *ngFor="let gamePlatform of gamePlatforms">
            <div *ngIf="gamePlatform.id == gameAccount.gamePlatformId">
                <div class="thumbnail">
                    <div class="caption">
                        <strong>{{gamePlatform.name}}</strong>
                        <p>{{gameAccount.userName}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
