<h2>Game accounts</h2>

<div class="row">
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <div class="caption">
                <div [hidden]="!isAddingAccount">
                    <add-game-account-form (getGameAccounts)="getGameAccounts($event)"></add-game-account-form>
                </div>
                <div [hidden]="isAddingAccount">
                    <p><a class="btn btn-primary" role="button" (click)="addGameAccount()">Add new account</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3" *ngFor="let gameAccount of userProfileGameAccounts" [class.selected]="gameAccount === selectedGameAccount">
        <div *ngFor="let gamePlatform of gamePlatforms">
            <div *ngIf="gamePlatform.id == gameAccount.gamePlatformId">
                <div class="thumbnail">
                    <div class="caption">
                        <strong>{{gamePlatform.name}}</strong>
                        <div *ngIf="!selectedGameAccount || gameAccount.id != selectedGameAccount.id">
                            <p>{{gameAccount.userName}}</p>
                            <p>
                                <a class="btn btn-default" role="button" (click)="viewFriendsAccounts(gameAccount)">Details</a>
                                <a class="btn btn-default" role="button" (click)="selectGameAccount(gameAccount)">Edit</a>
                                <a class="btn btn-default" role="button" (click)="removeGameAccount(gameAccount)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </p>
                        </div>

                        <div *ngIf="selectedGameAccount">
                            <div *ngIf="gameAccount.id == selectedGameAccount.id">
                                <game-account [gameAccount]="gameAccount" (clearSelectedGameAccount)="clearSelectedGameAccount($event)"></game-account>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
