<div *ngIf="gameAccount">
    <div *ngFor="let gamePlatform of gamePlatforms">
        <div *ngIf="gamePlatform.id == gameAccount.gamePlatformId">
            <form (ngSubmit)="gameAccountSave()" #gameAccountForm="ngForm">
                <div><label>Id: </label>{{gameAccount.id}}</div>
                <div class="form-group">
                    <label for="userName">User name: </label>
                    <input class="form-control" required placeholder="User name" id="userName" name="userName" [(ngModel)]="gameAccount.userName" />
                </div>

                <button type="submit" class="btn btn-default" [disabled]="!gameAccountForm.form.valid">Submit</button>
            </form>
        </div>
    </div>
</div>
