<div class="row">
    <div class="col-md-8">
        <form (ngSubmit)="searchTextSave()" #searchForm="ngForm">
            <div class="form-group">
                <label for="query">Find a friend</label>
                <input type="text" class="form-control" required [(ngModel)]="searchText" ngControl="searchText" #name="ngForm">
            </div>

            <button type="submit" class="btn btn-default" [disabled]="!searchForm.form.valid">Submit</button>
        </form>
    </div>
</div>

<div class="row">
    <div *ngIf="completedSearch">
        <div *ngIf="completedSearch.userProfiles != 0">
            <div class="col-xs-6 col-md-3" *ngFor="let userProfile of completedSearch.userProfiles">
                <div class="thumbnail">
                    <div class="caption">
                        <gravatar [email]="userProfile.emailAddress" [size]="25"></gravatar>
                        <strong>{{userProfile.firstName}} {{userProfile.lastName}}</strong>
                        <p>{{userProfile.emailAddress}}</p>
                        <p>
                            <a class="btn btn-default" role="button" (click)="addFriendSave(userProfile.UserProfileId)"><i class="fa fa-plus" aria-hidden="true"></i> Add</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="foundUserProfiles == 0">
            <div class="col-md-12">
                No results found
            </div>
        </div>
        <div *ngIf="completedSearch.gameAccounts != 0">
            <div class="col-xs-6 col-md-3" *ngFor="let gameAccount of completedSearch.gameAccounts">
                <div class="thumbnail">
                    <div class="caption">
                        <strong>{{gameAccount.userName}}</strong><br/>
                        <div *ngIf="gamePlatforms != 0">
                            <div *ngFor="let gamePlatform of gamePlatforms">
                                <div *ngIf="gamePlatform.id == gameAccount.gamePlatformId">
                                    {{gamePlatform.name}}<br/>
                                </div>
                            </div>
                        </div>
                        <p>
                            <a class="btn btn-default" role="button" (click)="addFriendSave(gameAccount.UserProfileId)"><i class="fa fa-plus" aria-hidden="true"></i> Add</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="foundUserProfiles == 0">
            <div class="col-md-12">
                No results found
            </div>
        </div>
    </div>
</div>