<div *ngIf="userProfile" class="row">
    <div class="col-md-8">
        <gravatar [email]="userProfile.emailAddress" [size]="100"></gravatar>
        <div [hidden]="submitted">
            <form (ngSubmit)="profileSave()" #userProfileForm="ngForm">
                <div class="form-group">
                    <label for="firstName">First name</label>
                    <input id="firstName" name="firstName" type="text" class="form-control" required [(ngModel)]="userProfile.firstName">
                </div>
                <div class="form-group">
                    <label for="lastName">Last name</label>
                    <input id="lastName" name="lastName" type="text" class="form-control" required [(ngModel)]="userProfile.lastName">
                </div>
                <div class="form-group">
                    <label for="emailAddress">Email address</label>
                    <input id="emailAddress" name="emailAddress" type="text" class="form-control" required [(ngModel)]="userProfile.emailAddress">
                </div>

                <button type="submit" class="btn btn-default" [disabled]="!userProfileForm.form.valid">Submit</button>
            </form>

            <div [hidden]="!submitted">
                <h2>Success</h2>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="googleId">Google sign in</label>
            <div *ngIf="userProfile.googleId">
                Connected
            </div>
            <div *ngIf="!userProfile.googleId">
                Disconnected
            </div>
        </div>
        <div class="form-group">
            <label for="facebookId">Facebook sign in</label>
            <div *ngIf="userProfile.facebookId">
                Connected
            </div>
            <div *ngIf="!userProfile.facebookId">
                Disconnected
            </div>
        </div>
    </div>
</div>
